@tailwind base;
@tailwind components;
@tailwind utilities;

.simple-blended {
  background-image: url(/student.png), linear-gradient(rgb(3, 3, 3), rgba(15, 15, 15, 0.888));
  background-blend-mode: overlay;
}

:root {
  background: linear-gradient(180deg, #080808 20.82%, rgba(112, 99, 60, 0.89) 100%);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  background: var(--bg);
}