.slider-controler .swiper-button-next {
    left: 50% !important;
    transform: translateX(-128%) !important;
    transform: translateY(78%) !important;
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-next {
        left: 70% !important;
        transform: translateX(-10%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
}

@media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.slider-controler .slider-arrow::after {
    content: '';
}

.slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.slider-controler .slider-arrow {
    width: 4.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 46%;
    transform: translateX(2%);
    transform: translateY(82%);
}
